.landing-page-wrapper {
  background-color: var(--base-background-color);
  display: flex;
  flex-direction: column;
}

.landing-page-wrapper :first-child {
  padding-top: 2rem;
}

.landing-page-wrapper * {
  padding-bottom: 2rem;
}