body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--base-background-color);
}

:root {
  --header-text-color: white;
  --header-text-hover-color: lightcoral;
  --base-background-color: beige;
  /*Angular dark gray*/
  --alternate-background-color: #424242;
  --mobile-min-width: 360px;
  --card-padding: 16px;
  --nominal-card-width: 25rem;
  --bs-x: 0; /* box shadow */
  --bs-y: 0; /* box shadow */
}

.RTL {
  direction: rtl;
}

.LTR {
  text-align: left;
}

mat-card,
mat-expansion-panel {
  /* move shadow by mouse position */
  box-shadow: var(--bs-x) var(--bs-y) #669d31 !important;
  transition: none !important; /* allow smooth dynamic shadow*/
}
