/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --header-text-color: white;
  --header-text-hover-color: lightcoral;
  --base-background-color: beige;
  --alternate-background-color : #424242; /*Angular dark gray*/
}

.RTL {
  direction: rtl;
}
