.intro-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.big-title {
  font-size: xxx-large;
}

.subtitle {
  font-size: x-large;
}

app-goals {
  align-self: stretch;
  margin-top: 2rem;
}
