<mat-accordion color="warn" multi="true" *ngIf="comments.length > 0">
    <mat-expansion-panel *ngFor="let comment of comments">
        <mat-expansion-panel-header>
            {{ comment.title }}
        </mat-expansion-panel-header>
        <p>{{ comment.content }}</p>
        <mat-action-row>
            <button mat-button color="">EDIT</button>
            <button mat-button color="warn">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p *ngIf="comments.length <= 0">אין הערות בנתיים. במקום שאין אנשים השתדל להיות איש!</p>