<h2>{{labels.comments}}</h2>
<mat-expansion-panel #new_form_expansion_panel hideToggle>
  <mat-expansion-panel-header>
    {{labels.addAComment}}
  </mat-expansion-panel-header>
  <div>
    <mat-form-field color="accent">
      <mat-label>{{labels.name}}</mat-label>
      <input matInput [(ngModel)]="newComment.authorDisplayName">
    </mat-form-field>
  </div>
  <div class="fill-row">
    <mat-form-field color="accent">
      <mat-label>{{labels.title}}</mat-label>
      <input matInput [(ngModel)]="newComment.title">
    </mat-form-field>
  </div>
  <div class="fill-row">
    <mat-form-field color="accent">
      <textarea matInput rows="4" [(ngModel)]="newComment.content"></textarea>
    </mat-form-field>
  </div>

  <mat-action-row align="end">
    <button mat-button (click)="sendCommentClicked()">{{labels.send}}</button>
  </mat-action-row>
</mat-expansion-panel>
<hr /> <!--  this is actually needed to separate the new comment comment from the old comments -->
<mat-accordion multi="true" *ngIf="comments.length > 0">
  <mat-expansion-panel *ngFor="let comment of comments">
    <mat-expansion-panel-header>
      {{ comment.title }}
    </mat-expansion-panel-header>
    <p>{{ comment.content }}</p>
    <mat-action-row>
      <button mat-button color="">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="comments.length <= 0">{{labels.noCommentsYet}}</p>
