.vertical-center {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  width: var(--mobile-min-width);
}

mat-form-field {
  width: 100%;
  text-align: right;
}

mat-spinner {
  margin: auto;
}

.ltr {
  text-align: left;
}
