<script src="https://accounts.google.com/gsi/client" async defer></script>
<div class="RTL vertical-center">
  <mat-card>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="full-row">
        <mat-form-field color="accent" class="full-row">
          <input
            class="LTR"
            matInput
            name="email"
            ngModel
            type="email"
            [placeholder]="labels.email"
            #emailInput="ngModel"
            required
            email
          />
          <mat-error *ngIf="emailInput.invalid">{{ labels.invalid }}</mat-error>
        </mat-form-field>
      </div>

      <div class="full-row">
        <mat-form-field color="accent" class="full-row">
          <input
            class="LTR"
            type="password"
            name="password"
            ngModel
            matInput
            [placeholder]="labels.password"
            #passwordInput="ngModel"
            required
            #password
          />
          <mat-error *ngIf="passwordInput.invalid">{{
            labels.invalid
          }}</mat-error>
          <mat-icon
            style="cursor: pointer"
            matSuffix
            (mousedown)="password.type = 'text'"
            (mouseup)="password.type = 'password'"
            [inline]="true"
            >{{ password.type == "password" ? "visibility_off" : "visibility" }}
          </mat-icon>
        </mat-form-field>
        <mat-error *ngIf="wrongPassword">{{ labels.wrongPassword }}</mat-error>
        <mat-error *ngIf="wrongEmail">{{ labels.wrongEmail }}</mat-error>
      </div>

      <mat-card-actions>
        <button type="submit" mat-button>{{ labels.login }}</button>
        <button (click)="newUser()" mat-button>{{ labels.newUser }}</button>
      </mat-card-actions>

      <mat-card-footer>
        <mat-progress-bar
          *ngIf="isLoading"
          mode="indeterminate"
        ></mat-progress-bar>
      </mat-card-footer>
    </form>
  </mat-card>
</div>

<div
  id="g_id_onload"
  data-client_id="338131212001-ecjtban40ms2m7tu4179i0cc6bb1vdvp.apps.googleusercontent.com"
  data-login_uri="http://localhost:/4201"
  data-auto_prompt="false"
></div>
<div
  class="g_id_signin"
  data-type="standard"
  data-size="large"
  data-theme="outline"
  data-text="sign_in_with"
  data-shape="rectangular"
  data-logo_alignment="left"
></div>
