<div class="RTL vertical-center">
  <mat-card>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <div class="full-row">
        <mat-form-field color="accent" class="full-row">
          <input
            class="LTR"
            matInput
            name="email"
            ngModel
            type="email"
            [placeholder]="labels.email"
            #emailInput="ngModel"
            required
            email
          />
          <mat-error *ngIf="emailInput.invalid">{{ labels.invalid }}</mat-error>
        </mat-form-field>
      </div>

      <div class="full-row">
        <mat-form-field color="accent" class="full-row">
          <input
            class="LTR"
            type="password"
            name="password"
            ngModel
            matInput
            [placeholder]="labels.password"
            #passwordInput="ngModel"
            required
          />
          <mat-error *ngIf="passwordInput.invalid">{{
            labels.invalid
          }}</mat-error>
        </mat-form-field>
      </div>

      <mat-card-actions>
        <button type="submit" mat-button>{{ labels.login }}</button>
        <button (click)="newUser()" mat-button>{{ labels.newUser }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
