<mat-toolbar class="RTL">
    <mat-toolbar-row>
        <span>התנ"ך למשפחות</span>
        <span class="flex-spacer"></span>

        <app-books *ngIf="!isMobile">say what?!</app-books>

        <span class="flex-spacer"></span>
        <span>
            <span *ngIf="!hasUser">
                <a>כניסה</a>
                <span class="small-divider">|</span>
                <a>רישום</a>
            </span>
            <span *ngIf="hasUser">
                <a>פרופיל</a>
                <span class="small-divider">|</span>
                <a>יציאה</a>
            </span>
        </span>
    </mat-toolbar-row>
    
    <mat-toolbar-row *ngIf="isMobile">
        <app-books></app-books>
    </mat-toolbar-row>
</mat-toolbar>