@import "../app.component.css";

mat-toolbar {
    /* make sure the toolbar remains on top */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;

    /* other properties */
    background: var(--alternate-background-color);
}

mat-toolbar-row {
    justify-content: space-between;
}

a {
    color: var(--header-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--header-text-hover-color);
    text-decoration: underline;
}
