<mat-toolbar dir="rtl">
    <mat-toolbar-row>
        <a routerLink="/">התנ"ך למשפחות</a>

        <app-books-span *ngIf="!isMobile"></app-books-span>

        <span>
            <span *ngIf="!hasUser">
                <a>כניסה</a>
                <app-vertical-divider></app-vertical-divider>
                <a>רישום</a>
            </span>
            <span *ngIf="hasUser">
                <a>פרופיל</a>
                <app-vertical-divider></app-vertical-divider>
                <a>יציאה</a>
            </span>
        </span>
    </mat-toolbar-row>
</mat-toolbar>