<span> <!-- TODO take from book service and use *ngFor-->
    <a>יהושע</a>
    <app-vertical-divider></app-vertical-divider>
    <a>שופטים</a>
    <app-vertical-divider></app-vertical-divider>
    <a>שמואל</a>
    <app-vertical-divider></app-vertical-divider>
    <a>מלאכים</a>
    <app-vertical-divider></app-vertical-divider>
    <a>ירמיה</a>
    <app-vertical-divider></app-vertical-divider>
    <a>יחזקאל</a>
    <app-vertical-divider></app-vertical-divider>
    <a>דניאל</a>
    <app-vertical-divider></app-vertical-divider>
    <a>שיבת ציון</a>
</span>